@use './variables' as *;

.reportWrapper {
  height: 100%;

  .title {
    color: $default;
    font-size: 25px;
    font-weight: 700;
  }

  .reportReady {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .desc {
      color: $muted;
      font-size: 14px;
      font-weight: 700;
    }

    .btnsWrapper {
      display: flex;
      align-items:  center;
      gap: 8px;
      justify-content: flex-end;

      div {
        color: $white;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 24px;

      .btnsWrapper {
        flex-direction: column;
        width: 100%;

        a {
          width: 100%;
        }
      }
    }
  }
}