$blue50: #DAEDFD;
$blue60: #C7E4FC;
$blue100: #45A5F6;
$blue110: #007EE5;
$disabled-btn: #4453711A;
$disabled: #44537180;
$white: #FFFFFF;
$purple: #6447CF;
$red: #E12828;
$red50: #FADEE0;
$muted: #A0A9B8;
$surface5: #D0D4DC;
$dark: #3A353E;
$default: #293244;
$black: #000000;